html, body {
  height: 100%;
  width: 100%;
  margin: 0;
} 

.header {
 display: flex;
  justify-content: center;
 margin-top: 3%;

}
.part a{
  color: black;
  text-decoration: none;
  float: left;
  padding: 10px;
  transition:all 1s ;
  border-bottom: 3px solid black;
  border-radius: 1px;
  font-family: Comic Sans MS, Comic Sans, cursive;
}





.part a:hover{
  background: black;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  transition: all 1s;
  border-radius: 3px;
  text-decoration: none;
}

.break {
  clear:both;
}





.item1 {
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item1 iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.item1 p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.item1:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item2 {
  margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  transition: all 1s;
   background-color: #000000;
  margin: 3%;
  }

.item2 iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.item2 iframe:hover{
  padding-left: 4px;
  transition: all 0.5s;
}

.item2 p {
  text-align: center;
  color:white;
  cursor: pointer;
  
  
}
.item2:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item3{
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item3 iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.item3 iframe:hover{
  padding-left: 4px;
  transition: all 0.5s;
}


.item3 p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
  font-family: fantasy;
}

.item3:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item4{
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item4 iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
}
.item4 iframe:hover{
  padding-left: 4px;
  transition: all 0.5s;
}

.item4 p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
  font-family: fantasy;
}

.item4:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}
.music{
  display: flex;
  justify-content: center;
  margin-left: 0.7%;
}
.up {
 width: 27%;
  height: 6%;
  background: #ffffff;
  margin-top: 2%;
  margin-left: 36.6%;
  border: 7px solid #000000;
  border-radius: 1ch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  padding-top: 5px;
  cursor: pointer;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

 
.music2{
  display: flex;
 justify-content: center;
  margin-left: 0.7%;
}

.container {
  width: 25%;
  height: 5%;
  background: black;
  margin-left: 37.5%;
  border: 2px solid black;
  border-radius: 1ch;
  display:flex;
  justify-content: center;
  align-items: center;
}

.gryst {
 width: 30%;
  height: 45%;
  background: white;
  border: 2px solid black;
  border-radius: 1ch ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  transition: all 1s;
}


.happy {
 width: 30%;
  height: 45%;
  background: white;
  border: 2px solid black;
  border-radius: 1ch ;
  display: flex;
  align-items: center;
   justify-content: center;
 margin: 5%;
  transition: all 1s;
}

.gryst a{
 text-decoration: none;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: black;
  
}

.happy a{
 text-decoration: none;
   font-family: Comic Sans MS, Comic Sans, cursive;
  color: black;
  
}



.gryst:hover{
  background-color: #773dff;
  transition: all 1s;
}

.happy:hover{
  background-color: #ff3dff;
  transition: all 1s;
}

.itemgryst1{
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.itemgryst1 iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.itemgryst1 p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.itemgryst1:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.itemgryst2{
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.itemgryst2 iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.itemgryst2 p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.itemgryst2:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item1phonk {
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item1phonk iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.item1phonk p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.item1phonk:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item2phonk {
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item2phonk iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.item2phonk p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.item2phonk:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item3phonk {
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item3phonk iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.item3phonk p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.item3phonk:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.item4phonk {
   margin-top:2%;
  border:2px solid black;
  border-radius: 5px;
  font-weight: 100;
   background-color: #000000;
  margin: 3%;
   transition: all 1s;
}
.item4phonk iframe{
  width: 265px;
  height: 200px;
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}

.item4phonk p {
  text-align: center;
  color:white;
  transition: all 1s;
  cursor: pointer;
}

.item4phonk:hover{
  transition: all 1s;
  padding: 0.5%;
  margin: 0.5%;
}

.textpronas {
  text-align: center;
  font-size: 100%;
  margin: 3%;
   font-family: Comic Sans MS, Comic Sans, cursive;
}


.main {
  width: 60%;
  height:20%;
  background:black;
  margin:20%;
  margin-top:3%;
  border-radius:1ch;
  
}

@media(max-width:390px){
  .up {
 
  height: 6%;
  background: #ffffff;
  margin-top: 2%;
  margin-left: 36.6%;
  border: 7px solid #000000;
  border-radius: 1ch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70%;
  padding-top: 5px;
  cursor: pointer;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

  .header {
 display: flex;
  justify-content: center;
 margin-top: 3%;
margin-left: 17%;
  }

  .container {
  width: 100%;
  height: 5%;
  background: black;
  margin-left: 10%;
  border: 2px solid black;
  border-radius: 1ch;
  display:flex;
  justify-content: center;
  align-items: center;
}

  .music{
  display: flex;
  justify-content: center;
  margin-left: 0.7%;
    flex-direction: column;
}

  .music2{
  display: flex;
  justify-content: center;
    flex-direction: column;
  margin-left: 0.7%;
}
  
}